.font {
    &__color {
        &--gray-dark {
            color: $gray-dark;
        }
        &--gray {
            color: $gray;
        }
        &--gray-light {
            color: $gray-light;
        }
    }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h4,
.h4
h5,
.h5 {
    font-family: $font-nexa-bold;
}
h6,
.h6,
p,
.p {
    font-family: $font-nexa-light;
}

h1,
.h1 {
    font-size: $font-size-h1;
}
h2,
.h2 {
    font-size: $font-size-h2;
}
h3,
.h3 {
    font-size: $font-size-h3;
}
h4,
.h4 {
    font-size: $font-size-h4;
}
h5,
.h5 {
    font-size: $font-size-h5;
}
h6,
.h6 {
    font-size: $font-size-h6;
}
p,
.p {
    font-size: $font-size-base;
}
