<section>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h3>section header</h3>
				<p>section body content</p>
				<a href="#!" class="btn btn-primary">section button</a>
			</div>
		</div>
	</div>
</section>