<section>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h2>CTA Header</h2>
				<p>CTA description</p>
				<a href="#!" class="btn btn-primary">button</a>
			</div>
		</div>
	</div>
</section>