<section>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<p class="h1">Section Header</p>
				<a href="#!" class="btn btn-primary">button</a>
			</div>
		</div>
	</div>
</section>