<section>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h3>section header</h3>
				<ul>
					<li>list item</li>
					<li>list item</li>
					<li>list item</li>
				</ul>
				<a href="#!" class="btn btn-primary">button</a>
			</div>
		</div>
	</div>
</section>