{% extends "base.twig" %}

{% block content %}
	<section class="{{post.post_type}}">
		<div class="container">
			<article>
				<h1>Hero Section</h1>
				<p>She is Able lead in statement</p>
			</article>
		</div>
	</section>
	<section class="u-bg__color--gray-lighter">
		<div class="container">
			<div class="row">
				<article class="col-sm">
					<h2>About She is Able</h2>
					<p>We exist to create transformative outdoor experiences that help marginalized women find healing, well-being, and hope.</p>
				</article>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<article class="col-sm">
					<h2>Testimonials</h2>
					<p>Feature quotes from women who've experienced She is Able or any sort of vote of confidence from an individual or organization</p>
				</article>
			</div>
		</div>
	</section>
	<section class="u-bg__color--gray-lighter">
		<div class="container">
			<div class="row">
				<article class="col-sm">
					<h2>Primary CTA</h2>
					<h4>Partner with us.</h4>
					<a href="#!" class="btn btn-primary">Link to form</a>
				</article>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<h2>Featured Adventures</h2>
			<div class="row">
				<div class="col-sm">
					<article>
						<h3>Adventure Title</h3>
						<h5>Description of adventure.</h5>
						<p>June 4, 2017</p>
						<a href="#!" class="btn btn-primary">Link to adventure page</a>
					</article>
				</div>
				<div class="col-sm">
					<article>
						<h3>Adventure Title</h3>
						<h5>Description of adventure.</h5>
						<p>June 4, 2017</p>
						<a href="#!" class="btn btn-primary">Link to adventure page</a>
					</article>
				</div>
			</div>
	</section>
	<section class="u-bg__color--gray-lighter">
		<div class="container">
		<article>
			<h2>Secondary CTA</h2>
			<h4>Volunteer</h4>
			<a href="#!" class="btn btn-primary">Link to form</a>
		</article>
	</section>
{% endblock %}